body {
 
 background-color: #eaebed;
}

    img {
        display: inline-block;
        /* width: 300px; */
        height: 700px;
        float: left;
        background-color: #eaebed;
        object-fit: contain;
        margin-left: 120px;
    }
    div {
        display: inline-block;
        width: 50%;
        float: left;
        text-align: center;
        margin: o;
        margin-top: 200px;
        font-size: 24px;
    }
    h1 {display: inline-block;
        width: 100%;
        }
    p {
    display: inline-block;
    text-align: center;
    width: 100%;
    }
    p {
    
    }
    a {
display: inline-block;
text-align: center;
background-color: #696f89;
color:#fff;
padding: 15px;
text-decoration: none;
text-transform: uppercase;
    }